<section class="faq">
  <div class="container faq__container">
    <h2 class="faq__title heading-h2">Frequently asked questions</h2>
    <p class="faq__desc test-p-medium">
      Everything you need to know about the product and billing.
    </p>
    <details class="faq__accordion">
      <summary class="faq__accordion-control">
        <h3 class="faq__accordion-title text-p-large">
          Is there a free trial available?
        </h3>
        <span class="faq__accordion-icon"></span>
      </summary>
      <p class="faq__accordion-text text-p-medium">
        Yes, you can try us for free for 30 days. If you want, we’ll provide you
        with a free, personalized 30-minute onboarding call to get you up and
        running as soon as possible.
      </p>
    </details>
    <details class="faq__accordion">
      <summary class="faq__accordion-control">
        <h3 class="faq__accordion-title text-p-large">
          How Can I Add More Emails To My Account?
        </h3>
        <span class="faq__accordion-icon"></span>
      </summary>
      <p class="faq__accordion-text text-p-medium">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
        voluptatem voluptate quasi veritatis aperiam expedita.
      </p>
    </details>
    <details class="faq__accordion">
      <summary class="faq__accordion-control">
        <h3 class="faq__accordion-title text-p-large">
          Can I Change Plans Or Cancel My Subscription At Any Time
        </h3>
        <span class="faq__accordion-icon"></span>
      </summary>
      <p class="faq__accordion-text text-p-medium">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi
        laboriosam alias dolores quisquam accusamus enim odit libero unde
        perspiciatis repellat sunt dolorum facere, harum repudiandae aut aliquid
        quibusdam, ea mollitia.
      </p>
    </details>
    <details class="faq__accordion">
      <summary class="faq__accordion-control">
        <h3 class="faq__accordion-title text-p-large">
          How Secure Is My Date With Sans CRM
        </h3>
        <span class="faq__accordion-icon"></span>
      </summary>
      <p class="faq__accordion-text text-p-medium">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident,
        cupiditate sequi quod.
      </p>
    </details>
    <details class="faq__accordion">
      <summary class="faq__accordion-control">
        <h3 class="faq__accordion-title text-p-large">
          What Is The Uptime Guarantee
        </h3>
        <span class="faq__accordion-icon"></span>
      </summary>
      <p class="faq__accordion-text text-p-medium">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus
        laboriosam placeat at! Sit beatae voluptatibus temporibus nesciunt
        facere eaque aut perspiciatis.
      </p>
    </details>
  </div>
</section>
