.footer {
  padding: 112px 0 58px;
  color: #fff;
  background-color: var(--black-bg-color);

  @include mobile {
    padding-top: 60px;
  }

  &__head {
    @include flex-all-between;
    margin-bottom: 134px;

    @include tablet {
      margin-bottom: 80px;
    }

    @include tablet {
      gap: 20px;
      flex-direction: column;
      align-items: flex-start;
    }

    @include mobile {
      align-items: center;
      margin-bottom: 60px;
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 64px;
    line-height: 1.2;

    @include tablet {
      font-size: 54px;
    }

    @include mobile {
      font-size: 42px;
    }
  }

  &__desc {
    max-width: 543px;
    font-weight: 500;
    line-height: 1.78;
    color: var(--neutral-color-50);
  }

  &__link {
    padding: 16px 32px;
    color: #1d1e25;
    background-color: #fff;
  }

  &__logo {
    display: inline-block;
    margin-bottom: 19px;

    @include tablet {
      margin-bottom: 0;
    }
  }

  &__body {
    @include flex-all-between;
    gap: 15px;
    margin-bottom: 56px;

    @include tablet {
      gap: 40px;
      flex-direction: column;
      align-items: flex-start;
    }

    &-info {
      @include tablet {
        @include flex-align-center;
        gap: 30px;
      }

      @include small-tablet {
        gap: 0;
        flex-direction: column;
        align-items: flex-start;
      }

      @include mobile {
        align-items: center;
        text-align: center;
      }
    }

    &-desc {
      max-width: 292px;
      font-weight: 500;
      line-height: 1.62;
      color: var(--neutral-color-150);

      @include tablet {
        max-width: 500px;
      }
    }
  }

  &__list {
    display: flex;
    gap: 93px;

    @include mini-desktop {
      gap: 40px;
    }

    @include tablet {
      @include flex-all-between;
    }

    @include tablet {
      gap: 40px 80px;
      flex-wrap: wrap;
      justify-content: center;
    }

    @include mobile {
      gap: 40px 50px;
    }

    @include small-mobile {
      text-align: center;
    }
  }

  &__item {
    &-title {
      margin-bottom: 24px;
      padding: 0;
      font-weight: 700;
      line-height: 1.5;
      color: var(--neutral-color-100);
      pointer-events: none;
    }

    @include mobile {
      min-width: 143px;
    }
  }

  &__subitem {
    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &-link {
      position: relative;
      font-weight: 400;
      line-height: 1.5;
      color: var(--neutral-color-150);

      &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -5px;
        left: 0;
        height: 1px;
        background: var(--neutral-color-150);
        opacity: 0;
        visibility: hidden;
        transition:
          opacity var(--transition),
          visibility var(--transition);
      }

      &:hover {
        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__nav {
    @include tablet {
      width: 100%;
    }

    @include small-tablet {
      display: flex;
      justify-content: center;
    }
  }

  &__bottom {
    @include flex-all-between;
    gap: 20px 10px;
    flex-wrap: wrap;
    border-top: 1px solid var(--neutral-color-70);
    padding-top: 40px;

    @include tablet {
      justify-content: center;
    }

    &-lists {
      @include flex-align-center;
      gap: 72px;

      @include tablet {
        gap: 40px;
      }

      @include mobile {
        gap: 15px;
        flex-direction: column;
      }
    }

    &-list {
      display: flex;
      gap: 40px;

      @include tablet {
        gap: 20px;
      }

      @include small-mobile {
        gap: 10px 20px;
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    &-link {
      position: relative;
      font-weight: 500;
      line-height: 1.43;
      color: #fff;

      &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -5px;
        left: 0;
        height: 1px;
        background: #fff;
        opacity: 0;
        visibility: hidden;
        transition:
          opacity var(--transition),
          visibility var(--transition);
      }

      &:hover {
        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__social {
    &-list {
      @include flex-align-center;
      gap: 24px;
    }

    &-link {
      transition: opacity var(--transition);

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__copyright {
    font-weight: 500;
    line-height: 1.43;
    color: #fff;
  }
}

.accordion-list {
  @include small-tablet {
    display: inline-block;
    width: 100%;
    max-width: 300px;
  }

  @include mobile {
    max-width: 250px;
  }

  &__item {
    @include small-tablet {
      padding-bottom: 10px;
    }
  }

  &__control {
    @include small-tablet {
      margin-bottom: 10px;
      padding: 0;
      width: 100%;
      color: var(--neutral-color-100);
      pointer-events: auto;
    }

    @include small-tablet {
      @include flex-all-between;
      position: relative;

      &::after {
        transform: rotate(90deg);
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        display: inline-block;
        border-radius: 2px;
        width: 18px;
        height: 3px;
        background-color: var(--neutral-color-100);
      }
    }
  }

  &__content {
    @include small-tablet {
      display: none;
    }
  }

  &__item--opened {
    .accordion-list {
      &__content {
        display: inline-block;
      }

      &__control {
        &::after {
          display: none;
        }
      }
    }
  }
}
