.partners {
  padding: 64px 0;

  @include mobile {
    padding: 20px 0;
  }

  &__container {
    @include flex-all-between;
    min-width: 0;

    @include small-tablet {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }
  }

  &__title {
    font-weight: 500;
    line-height: 1.78;
    color: var(--neutral-color-150);

    @include small-tablet {
      margin-bottom: 40px;
    }
  }

  &__num {
    display: block;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);

    @include small-mobile {
      margin-bottom: 10px;
    }
  }

  &__list {
    @include flex-align-center;
    gap: 10px 30px;
    flex-wrap: wrap;
    justify-content: flex-end;

    @include small-tablet {
      justify-content: center;
    }

    @include mobile {
      gap: 10px;
    }
  }

  &__item {
    @include flex-all-center;
    border-radius: 16px;
    width: 160px;
    height: 90px;
    background: #fff;

    @include mobile {
      transform: scale(0.8);
    }
  }

  &__slide {
    &.swiper-slide {
      width: auto;

      @include small-tablet {
        width: 100%;
      }
    }
  }

  &__wrapper {
    gap: 10px 30px;
    flex-wrap: wrap;
    justify-content: center;

    @include tablet {
      column-gap: 0;
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
  }
}
