.articles {
  overflow: inherit;
  padding: 160px 0;

  @include small-tablet {
    padding: 100px 0;
  }

  @include small-mobile {
    padding: 70px 0;
  }

  &__wrapper {
    @include flex-all-between;
    margin-bottom: 80px;

    @include small-tablet {
      margin-bottom: 60px;
    }

    @include mobile {
      flex-direction: column;
      align-items: self-start;
    }

    @include small-mobile {
      margin-bottom: 40px;
    }
  }

  &__head {
    &-title {
      margin-bottom: 24px;
      font-weight: 600;
      letter-spacing: -0.04em;
      color: var(--neutral-color-100);
    }

    &-text {
      max-width: 435px;
      line-height: 1.78;
      color: var(--neutral-color-150);
    }
  }

  &__btns {
    @include flex-align-center;
    gap: 16px;
    align-self: self-end;
    justify-content: flex-end;
    transform: translateY(-40px);

    @include mini-desktop {
      transform: translateY(5px);
    }
  }

  &__btn {
    @include flex-all-center;
    border: 1px solid var(--neutral-color-40);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition:
      background-color var(--transition),
      border-color var(--transition);
    cursor: pointer;

    @include small-mobile {
      width: 40px;
      height: 40px;
    }

    &--prev {
      transform: rotate(180deg);
    }

    & path {
      fill: var(--neutral-color-100);
      transition: fill var(--transition);
    }

    &:hover {
      border-color: var(--neutral-color-100);
      background-color: var(--neutral-color-100);

      & path {
        fill: var(--neutral-color-10);
      }
    }
  }

  &__slider {
    position: relative;
    width: 1352px;

    @include small-tablet {
      width: 992px;
    }

    @include mobile {
      width: 800px;
    }

    @include small-mobile {
      width: 100%;
    }
  }

  &__slide {
    max-width: 406px;

    img {
      margin-bottom: 24px;
      width: 100%;

      @include small-tablet {
        max-height: 500px;
      }

      @include mobile {
        max-height: 400px;
      }

      @include small-mobile {
        max-height: 250px;
      }
    }

    &-title {
      margin-bottom: 16px;
      font-weight: 600;
      line-height: 1.31;
      letter-spacing: -0.03em;
      color: var(--neutral-color-100);
    }

    &-text {
      display: -webkit-box;
      overflow: hidden;
      margin-bottom: 24px;
      font-weight: 500;
      line-height: 1.78;
      color: #7e8492;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }

    &-btn {
      display: inline-block;
      border: 1px solid var(--neutral-color-40);
      width: 100%;
      max-width: 175px;
      line-height: 1.5;
      color: var(--neutral-color-100);
      background-color: var(--neutral-color-10);
      transition:
        opacity var(--transition),
        background-color var(--transition);

      &:hover {
        color: var(--neutral-color-10);
        background-color: var(--neutral-color-100);
      }

      &:active {
        opacity: 0.8;
      }
    }
  }
}
