.hero {
  padding: 90px 0 78px;

  @include mobile {
    padding: 40px 0 68px;
  }

  &__top {
    padding-bottom: 186px;
    text-align: center;

    @include tablet {
      padding-bottom: 120px;
    }

    @include mobile {
      padding-bottom: 56px;
    }

    &::before {
      top: 20px;
    }

    &::after {
      bottom: -320px;
    }
  }

  &__title {
    display: inline-block;
    margin-bottom: 24px;
    border-radius: 16px;
    padding: 4px 12px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    color: var(--primary-color-30);
    background: #1463ff1a;

    @include small-mobile {
      margin-bottom: 8px;
    }
  }

  &__desc {
    margin: 0 auto 56px;
    max-width: 903px;
    font-weight: 700;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);

    @include mobile {
      margin-bottom: 36px;
    }
  }

  &__switcher {
    appearance: none;
    position: relative;
    border-radius: 12px;
    width: 44px;
    height: 24px;
    background-color: var(--neutral-color-30);

    &-wrapper {
      @include flex-all-center;
      display: inline-flex;
      gap: 12px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      display: inline-block;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background-color: var(--primary-color-30);
      opacity: 0.6;
      transition:
        left var(--transition),
        opacity var(--transition);
    }

    &-text {
      font-weight: 500;
      line-height: 1.62;
      color: var(--neutral-color-150);
    }

    &-checkbox {
      appearance: none;
    }

    &:has(&-checkbox:checked) {
      &::before {
        left: 22px;
        opacity: 1;
      }
    }
  }

  &__item {
    position: relative;
    border: 1px solid var(--neutral-color-30);
    border-radius: 16px;
    padding: 40px 24px;
    max-width: 378px;

    @include mini-desktop {
      max-width: 320px;
    }

    @include tablet {
      max-width: 400px;
    }

    &:first-child {
      @include tablet {
        order: 2;
      }
    }

    &:last-child {
      @include tablet {
        order: 3;
      }
    }

    &--popular {
      border: 1px solid var(--primary-color-60);
      box-shadow: 0 16px 24px 0 #1e1e1e14;
      background-color: var(--neutral-color-90);
      transform: translateY(-76px);

      @include tablet {
        order: 1;
        transform: inherit;
      }
    }
  }

  &__plans {
    @include flex-all-between;

    @include tablet {
      gap: 40px 60px;
      flex-wrap: wrap;
      justify-content: center;
    }

    &-icon {
      @include flex-all-center;
      margin-bottom: 16px;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background: var(--neutral-color-20);

      & svg {
        margin-top: 2px;
      }

      &--popular {
        background: var(--primary-color-30);

        &::after {
          content: 'Best Offers 🔥';
          position: absolute;
          top: 40px;
          right: 24px;
          border-radius: 100px;
          padding: 6px 12px;
          width: 118px;
          font-weight: 500;
          font-size: 14px;
          line-height: 1.43;
          text-align: center;
          color: #fff;
          background: #1463ff;
        }
      }
    }

    &-title {
      margin-bottom: 8px;
      font-weight: 600;
      line-height: 1.42;
      color: var(--neutral-color-100);

      &--popular {
        color: #fff;
      }
    }

    &-desc {
      margin-bottom: 24px;
      font-weight: 500;
      line-height: 1.62;
      color: var(--neutral-color-150);
    }

    &-price {
      margin-bottom: 24px;
      font-weight: 600;
      letter-spacing: -0.04em;
      color: var(--neutral-color-100);

      &--popular {
        color: #fff;
      }

      &-text {
        font-weight: 500;
        line-height: 1.62;
        letter-spacing: -0.01em;
        color: var(--neutral-color-150);
      }
    }

    &-list {
      &-title {
        margin-bottom: 16px;
        font-weight: 700;
        line-height: 1.5;
        color: var(--neutral-color-100);

        &--popular {
          color: #fff;
        }
      }
    }

    &-item {
      @include flex-align-center;
      margin-bottom: 40px;
      font-weight: 500;
      line-height: 1.62;
      color: var(--neutral-color-100);

      &:not(:last-child) {
        margin-bottom: 16px;
      }

      &::before {
        content: '';
        display: inline-block;
        margin-right: 10px;
        width: 20px;
        height: 20px;
        background: url('../icons/pricing-tick-icon.svg');
        transform: translateX(2px);
      }

      &--popular {
        color: #fff;
      }

      &--inaccess {
        text-decoration: line-through;
        color: #7e8492;

        &::before {
          background: url('../icons/pricing-tick-inaccess-icon.svg');
        }
      }
    }

    &-btn {
      border: 1px solid var(--neutral-color-40);
      border-radius: 100px;
      padding: 16px 36px;
      font-weight: 600;
      line-height: 1.5;
      text-align: center;
      color: var(--neutral-color-100);
      transition:
        color var(--transition),
        background-color var(--transition),
        opacity var(--transition);

      &:hover {
        color: var(--neutral-color-10);
        background-color: var(--neutral-color-100);
      }

      &:active {
        opacity: 0.7;
      }

      &-wrapper {
        text-align: center;
      }

      &--popular {
        color: #000;
        background-color: #fff;
        transition:
          color var(--transition),
          background-color var(--transition),
          opacity var(--transition);

        &:hover {
          color: #fff;
          background-color: transparent;
        }

        &:active {
          opacity: 0.7;
        }
      }
    }
  }
}
