.slogan {
  &__container {
    border-top: 1px solid var(--neutral-color-30);
    border-bottom: 1px solid var(--neutral-color-30);
    padding-top: 80px;
    padding-bottom: 80px;

    @include mobile {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  &__wrapper {
    @include flex-justify-between;
    gap: 20px 10px;

    @include mini-desktop {
      flex-direction: column;
    }
  }

  &__title {
    max-width: 480px;
    font-weight: 600;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);

    @include mobile {
      max-width: none;
    }
  }

  &__text {
    max-width: 522px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--neutral-color-100);

    @include mini-desktop {
      align-self: flex-end;
      max-width: 600px;
    }

    @include mobile {
      max-width: none;
    }
  }
}
