<section class="articles">
  <div class="container articles__wrapper">
    <div class="articles__head">
      <h2 class="articles__head-title heading-h2">Articles</h2>
      <p class="articles__head-text text-p-medium">
        Complex tech decoded by engineers, business trends analyzed by experts.
      </p>
    </div>
    <div class="articles__btns">
      <div class="articles__btn articles__btn--prev">
        <svg
          width="16"
          height="14"
          viewBox="0 0 16 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M8.26365 0.963555C8.61513 0.612083 9.18497 0.612083 9.53645 0.963555L14.9364 6.36356C15.2879 6.71503 15.2879 7.28488 14.9364 7.63635L9.53645 13.0363C9.18497 13.3878 8.61513 13.3878 8.26365 13.0363C7.91218 12.6849 7.91218 12.115 8.26365 11.7636L12.1273 7.89995L1.70005 7.89995C1.20299 7.89995 0.800049 7.49701 0.800049 6.99995C0.800049 6.5029 1.20299 6.09995 1.70005 6.09995H12.1273L8.26365 2.23635C7.91218 1.88488 7.91218 1.31503 8.26365 0.963555Z"
            fill="black"
          />
        </svg>
      </div>
      <div class="articles__btn articles__btn--next">
        <svg
          width="16"
          height="14"
          viewBox="0 0 16 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M8.26365 0.963555C8.61513 0.612083 9.18497 0.612083 9.53645 0.963555L14.9364 6.36356C15.2879 6.71503 15.2879 7.28488 14.9364 7.63635L9.53645 13.0363C9.18497 13.3878 8.61513 13.3878 8.26365 13.0363C7.91218 12.6849 7.91218 12.115 8.26365 11.7636L12.1273 7.89995L1.70005 7.89995C1.20299 7.89995 0.800049 7.49701 0.800049 6.99995C0.800049 6.5029 1.20299 6.09995 1.70005 6.09995H12.1273L8.26365 2.23635C7.91218 1.88488 7.91218 1.31503 8.26365 0.963555Z"
            fill="black"
          />
        </svg>
      </div>
    </div>
  </div>
  <div class="articles__slider-container">
    <div class="container">
      <div class="swiper articles__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide articles__slide">
            <img
              loading="lazy"
              src="./assets/image/blog/articles-two-humans-working-togehter.jpg"
              alt="articles two humans working together"
            />
            <h4 class="articles__slide-title heading-h5">
              List of UX Designer Portfolio / Case Studies where you can make
              money
            </h4>
            <p class="articles__slide-text text-p-medium">
              Here are some portfolios / Case Studies from UX Designers that you
              can use as a reference for creating a portfolio. Two interesting
              things from their portfolio are:
            </p>
            <button class="articles__slide-btn button-form">Read More</button>
          </div>
          <div class="swiper-slide articles__slide">
            <img
              loading="lazy"
              src="./assets/image/blog/articles-two-workers-high-five.jpg"
              alt="articles two workers high five"
            />
            <h4 class="articles__slide-title heading-h5">
              Skyrocketing in The Designing Career, Why Not?
            </h4>
            <p class="articles__slide-text text-p-medium">
              Ever thought of jumping into the world of design as a career? If
              not, you may want to look at what the word ‘design’ actually
              means. Design is a method of designing aesthetic actions that are
              carried out.
            </p>
            <button class="articles__slide-btn button-form">Read More</button>
          </div>
          <div class="swiper-slide articles__slide">
            <img
              loading="lazy"
              src="./assets/image/blog/articles-two-workers-discussion.png"
              alt="articles two workers discussion"
            />
            <h4 class="articles__slide-title heading-h5">
              Elements that may be missed when designing the UI
            </h4>
            <p class="articles__slide-text text-p-medium">
              This is an article that talks about the little elements that are
              often overlooked when designing UI.
            </p>
            <button class="articles__slide-btn button-form">Read More</button>
          </div>
          <div class="swiper-slide articles__slide">
            <img
              loading="lazy"
              src="./assets/image/blog/articles-two-workers-high-five.jpg"
              alt="articles two workers high five"
            />
            <h4 class="articles__slide-title heading-h5">
              Skyrocketing in The Designing Career, Why Not?
            </h4>
            <p class="articles__slide-text text-p-medium">
              Ever thought of jumping into the world of design as a career? If
              not, you may want to look at what the word ‘design’ actually
              means. Design is a method of designing aesthetic actions that are
              carried out.
            </p>
            <button class="articles__slide-btn button-form">Read More</button>
          </div>
          <div class="swiper-slide articles__slide">
            <img
              loading="lazy"
              src="./assets/image/blog/articles-two-workers-discussion.png"
              alt="articles two workers discussion"
            />
            <h4 class="articles__slide-title heading-h5">
              Elements that may be missed when designing the UI
            </h4>
            <p class="articles__slide-text text-p-medium">
              This is an article that talks about the little elements that are
              often overlooked when designing UI.
            </p>
            <button class="articles__slide-btn button-form">Read More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
