<section class="hero hero-decor">
  <div class="container">
    <h2 class="hero__title heading-h1">Activity & Updates</h2>
    <p class="hero__text text-p-subtitle">
      Our biggest challenge is making sure we're <br />
      always designing and building products that <br />
      will help you run your business better.
    </p>
    <ul class="tab-controls text-p-default">
      <li class="tab-controls__item tab-controls__item--active">
        <button class="tab-controls__link" data-topic="view-all">
          View all
        </button>
      </li>
      <li class="tab-controls__item">
        <button class="tab-controls__link" data-topic="design">Design</button>
      </li>
      <li class="tab-controls__item">
        <button class="tab-controls__link" data-topic="articles">
          Articles
        </button>
      </li>
      <li class="tab-controls__item">
        <button class="tab-controls__link" data-topic="product">Product</button>
      </li>
      <li class="tab-controls__item">
        <button class="tab-controls__link" data-topic="software-development">
          Software Development
        </button>
      </li>
      <li class="tab-controls__item">
        <button class="tab-controls__link" data-topic="customer-success">
          Customer Success
        </button>
      </li>
    </ul>
  </div>
  <div class="hero__slider-container">
    <div class="container">
      <div class="swiper hero__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide hero__slide" data-rubric="design">
            <img loading="lazy" src="./assets/image/blog/blond-woman-img.jpg" />
            <div class="hero__slide-head">
              <p class="hero__slide-head-date text-p-small">
                Published in Insight Jan 30, 2021
              </p>
            </div>
            <h3 class="hero__slide-title heading-h5">
              Practice making User Flow
            </h3>
            <p class="hero__slide-text">
              In this article, we'll cover how to create user flows
            </p>
          </div>
          <div class="swiper-slide hero__slide" data-rubric="articles">
            <img
              loading="lazy"
              src="./assets/image/blog/two-women-working-img.jpg"
            />
            <div class="hero__slide-head">
              <p class="hero__slide-head-date text-p-small">
                Published in Insight Jan 30, 2021
              </p>
              <p class="hero__slide-head-profession text-p-small">
                by : Albert Sans
              </p>
            </div>
            <h3 class="hero__slide-title heading-h5">
              Overview of the Design Principles
            </h3>
            <p class="hero__slide-text">
              What are Design Principles?… To understand design principles, we
              first discuss the principles.
            </p>
          </div>
          <div class="swiper-slide hero__slide" data-rubric="articles">
            <img
              loading="lazy"
              src="./assets/image/blog/man-woman-high-five-img.jpg"
            />
            <div class="hero__slide-head">
              <p class="hero__slide-head-date text-p-small">
                Published in Insight Jan 30, 2021
              </p>
              <p class="hero__slide-head-profession text-p-small">
                by : Albert Sans
              </p>
            </div>
            <h3 class="hero__slide-title heading-h5">
              Using Grid in website design
            </h3>
            <p class="hero__slide-text">
              Andi: "What's the grid like?" Toni: “Like below…”
            </p>
          </div>
          <div class="swiper-slide hero__slide" data-rubric="product">
            <img
              loading="lazy"
              src="./assets/image/blog/two-women-working-img.jpg"
            />
            <div class="hero__slide-head">
              <p class="hero__slide-head-date text-p-small">
                Published in Insight Jan 30, 2021
              </p>
              <p class="hero__slide-head-profession text-p-small">
                by : Albert Sans
              </p>
            </div>
            <h3 class="hero__slide-title heading-h5">
              Overview of the Design Principles
            </h3>
            <p class="hero__slide-text">
              What are Design Principles?… To understand design principles, we
              first discuss the principles.
            </p>
          </div>
        </div>
        <div class="blog__btn--prev">
          <svg
            width="11"
            height="17"
            viewBox="0 0 11 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.6665 15.3333L1.99983 8.66667L8.6665 2"
              stroke="#7E8492"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="blog__btn--next">
          <svg
            width="11"
            height="17"
            viewBox="0 0 11 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.99984 2L8.6665 8.66667L1.99984 15.3333"
              stroke="#7E8492"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
