<section class="partners">
  <div class="container partners__container">
    <h2 class="partners__title text-p-medium">
      <span class="partners__num heading-h2">890+</span>
      some big companies that we work with, and trust us very much
    </h2>
    <div class="swiper partners__slider">
      <div class="swiper-wrapper partners__wrapper">
        <div class="swiper-slide partners__slide">
          <div class="partners__item">
            <img
              src="./assets/icons/partners/airbnb-logo-icon.svg"
              width="97"
              height="30"
              alt="Airbnb Logo"
            />
          </div>
        </div>
        <div class="swiper-slide partners__slide">
          <div class="partners__item">
            <img
              src="./assets/icons/partners/amazon-logo-icon.svg"
              width="97"
              height="30"
              alt="Amazon Logo"
            />
          </div>
        </div>
        <div class="swiper-slide partners__slide">
          <div class="partners__item">
            <img
              src="./assets/icons/partners/fedex-logo-icon.svg"
              width="95"
              height="29"
              alt="Fedex Logo"
            />
          </div>
        </div>
        <div class="swiper-slide partners__slide">
          <div class="partners__item">
            <img
              src="./assets/icons/partners/microsoft-logo-icon.svg"
              width="115"
              height="25"
              alt="Microsoft Logo"
            />
          </div>
        </div>
        <div class="swiper-slide partners__slide">
          <div class="partners__item">
            <img
              src="./assets/icons/partners/google-logo-icon.svg"
              width="90"
              height="30"
              alt="Google Logo"
            />
          </div>
        </div>
        <div class="swiper-slide partners__slide">
          <div class="partners__item">
            <img
              src="./assets/icons/partners/ola-logo-icon.svg"
              width="93"
              height="32"
              alt="Google Logo"
            />
          </div>
        </div>
        <div class="swiper-slide partners__slide">
          <div class="partners__item">
            <img
              src="./assets/icons/partners/walmart-logo-icon.svg"
              width="113"
              height="27"
              alt="Walmart Logo"
            />
          </div>
        </div>
        <div class="swiper-slide partners__slide">
          <div class="partners__item">
            <img
              src="./assets/icons/partners/oyo-logo-icon.svg"
              width="79"
              height="28"
              alt="OYO Logo"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
