<section class="hero hero-decor">
  <div class="container">
    <h2 class="hero__title heading-h1">
      Everything you need to get the attention of your audience
    </h2>
    <div class="hero__desc">
      <p class="hero__desc-subtitle text-p-subtitle">
        Our digital agency helps clients develop, <br />
        implement and maintain successful digital <br />
        marketing strategies across all channels. Also <br />
        work with you to build your website and create <br />
        online businesses that grow.
      </p>
      <div class="hero__circle">
        <div class="hero__circle-logo">
          <svg
            width="59"
            height="59"
            viewBox="0 0 59 59"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="15.0284"
              y="46.4426"
              width="3.85427"
              height="41.4334"
              transform="rotate(-135 15.0284 46.4426)"
              fill="#161A34"
            ></rect>
            <rect
              x="17.8915"
              y="17.9634"
              width="3.85427"
              height="26.9799"
              transform="rotate(-90 17.8915 17.9634)"
              fill="#161A34"
            ></rect>
            <rect
              x="44.8912"
              y="41.1089"
              width="3.85427"
              height="26.9799"
              transform="rotate(180 44.8912 41.1089)"
              fill="#161A34"
            ></rect>
          </svg>
        </div>
        <div class="hero__circle-text">
          <p>&nbsp; · Get in touch · Get in touch · Get in touch ·</p>
        </div>
        <a class="hero__circle-link" href="/coca/contact.html#get-started"></a>
      </div>
    </div>
  </div>
  <div class="hero__container">
    <div class="swiper hero__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide hero__slide">
          <img
            loading="lazy"
            class="hero__slide-img hero__slide-img--whole"
            src="./assets/image/collaborate/hero-table-with-laptop-and-coffee.jpg"
            alt="Table with laptop and coffee, photo from above"
          />
        </div>
        <div class="swiper-slide hero__slide">
          <img
            loading="lazy"
            class="hero__slide-img hero__slide-img--with-desc"
            src="./assets/image/collaborate/hero-conference-img.jpg"
            alt="There are four people at the table, the man in the middle makes a speech, the rest applaud"
          />
          <h3 class="hero__slide-title heading-h5">What we believe in</h3>
          <p class="hero__slide-desc text-p-medium">
            Over the years at Sans, we’ve put a lot of thought into what it is
            that makes us who we are. The qualities that unite us, that make us
            such an effective team, and...
          </p>
          <button class="hero__slide-btn button-form">See Details -></button>
        </div>
        <div class="swiper-slide hero__slide">
          <img
            loading="lazy"
            class="hero__slide-img"
            src="./assets/image/collaborate/two-women-working-img.jpg"
            alt="two women working"
          />
        </div>
        <div class="swiper-slide hero__slide">
          <img
            loading="lazy"
            class="hero__slide-img hero__slide-img--whole"
            src="./assets/image/collaborate/hero-table-with-laptop-and-coffee.jpg"
            alt="Table with laptop and coffee, photo from above"
          />
        </div>
        <div class="swiper-slide hero__slide">
          <img
            loading="lazy"
            class="hero__slide-img hero__slide-img--with-desc"
            src="./assets/image/collaborate/hero-conference-img.jpg"
            alt="There are four people at the table, the man in the middle makes a speech, the rest applaud"
          />
          <h3 class="hero__slide-title heading-h5">What we believe in</h3>
          <p class="hero__slide-desc text-p-medium">
            Over the years at Sans, we’ve put a lot of thought into what it is
            that makes us who we are. The qualities that unite us, that make us
            such an effective team, and...
          </p>
          <button class="hero__slide-btn button-form">See Details -></button>
        </div>
      </div>
      <div class="hero__btn--prev">
        <svg
          width="11"
          height="17"
          viewBox="0 0 11 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M8.6665 15.3333L1.99983 8.66667L8.6665 2"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </svg>
      </div>
      <div class="hero__btn--next">
        <svg
          width="11"
          height="17"
          viewBox="0 0 11 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.99984 2L8.6665 8.66667L1.99984 15.3333"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</section>
