<section class="hero">
  <div class="container">
    <h2 class="hero__title heading-h1">
      Everything you need to get the attention of your audience
    </h2>
    <div class="hero__desc">
      <p class="hero__desc-subtitle text-p-subtitle">
        Our digital agency helps clients develop, <br />
        implement and maintain successful digital <br />
        marketing strategies across all channels. Also <br />
        work with you to build your website and create <br />
        online businesses that grow.
      </p>
      <a class="hero__desc-link" href="/coca/contact.html#get-started">
        <img
          loading="lazy"
          class="hero__desc-link-icon"
          src="./assets/icons/get-in-touch-black.svg"
          alt="get in touch icon"
        />
      </a>
    </div>
  </div>
</section>
