.strenght {
  &__container {
    border-bottom: 1px solid var(--neutral-color-30);
    padding-top: 66px;
    padding-bottom: 166px;

    @include mobile {
      padding-top: 26px;
      padding-bottom: 70px;
    }
  }

  &__list {
    @include flex-align-center;

    @include tablet {
      gap: 62px;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }

    @include small-tablet {
      gap: 45px;
    }

    @include mobile {
      gap: 35px;
    }
  }

  &__item {
    @include tablet {
      justify-content: center;
      min-width: 325px;
    }

    @include mobile {
      min-width: 240px;
    }

    &:not(:last-child) {
      @include flex-align-center;
      padding-right: 72px;

      @include tablet {
        padding-right: 0;
      }

      &::after {
        content: '';
        display: inline-block;
        width: 1px;
        height: 99px;
        background-color: var(--neutral-color-40);

        @include tablet {
          display: none;
        }
      }
    }

    &-num {
      display: block;
      margin-bottom: 8px;
      font-weight: 600;
      font-size: 64px;
      line-height: 1.2;
      color: var(--neutral-color-100);

      @include tablet {
        font-size: 58px;
      }

      @include mobile {
        font-size: 48px;
      }

      @include small-mobile {
        font-size: 42px;
      }
    }

    &-text {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.78;
      color: var(--neutral-color-150);
    }
  }

  &__list,
  &__img {
    margin-bottom: 80px;

    @include mobile {
      margin-bottom: 45px;
    }
  }

  &__img {
    @include tablet {
      margin-bottom: 55px;
    }

    @include mobile {
      margin-bottom: 45px;
    }
  }

  &__info {
    @include flex-justify-between;

    @include tablet {
      gap: 25px;
      flex-direction: column;
    }
  }

  &__title {
    font-weight: 600;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);
  }

  &__desc {
    max-width: 421px;
    font-weight: 500;
    line-height: 1.78;
    color: var(--neutral-color-150);

    @include tablet {
      max-width: 700px;
    }
  }
}
