<section class="features">
  <div class="container features__container">
    <div class="features__left">
      <img
        loading="lazy"
        src="./assets/image/features-img.jpg"
        width="585"
        height="651"
        alt="Woman typing on laptop"
      />
      <div class="features__stats">
        <div class="features__stats-head">
          <h4 class="features__stats-title text-p-default">Statictic</h4>
          <img
            loading="lazy"
            src="./assets/icons/more-icon.svg"
            width="18"
            height="19"
            alt="Ellipsis icon"
          />
        </div>
        <div class="features__stats-item">
          <img
            loading="lazy"
            class="features__stats-item-img"
            src="./assets/icons/features-total-income-icon.svg"
            alt="Total income icon"
          />
          <div class="features__stats-item-text">
            <h5 class="features__stats-item-title">Total Income</h5>
            <div class="features__stats-item-price">
              <span class="features__stats-item-price-num"> $7.020 </span>
              <div class="features__stats-item-price-proc">
                <svg
                  width="10"
                  height="6"
                  viewBox="0 0 10 6"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M9.70711 5.70717C9.31658 6.09769 8.68342 6.09769 8.29289 5.70717L5 2.41427L1.70711 5.70717C1.31658 6.09769 0.683417 6.09769 0.292894 5.70717C-0.0976312 5.31664 -0.0976312 4.68348 0.292894 4.29295L4.29289 0.292954C4.68342 -0.0975701 5.31658 -0.09757 5.70711 0.292954L9.70711 4.29295C10.0976 4.68348 10.0976 5.31664 9.70711 5.70717Z"
                    fill="#50CD89"
                  />
                </svg>
                15%
              </div>
            </div>
            <p class="features__stats-item-desc">
              Your <span>Income</span> of this month compared to last month
            </p>
          </div>
        </div>
        <div class="features__stats-item">
          <img
            loading="lazy"
            class="features__stats-item-img"
            src="./assets/icons/features-total-income-icon.svg"
            alt="Total income icon"
          />
          <div class="features__stats-item-text">
            <h5 class="features__stats-item-title">Total Expense</h5>
            <div class="features__stats-item-price">
              <span class="features__stats-item-price-num"> $2.150 </span>
              <div class="features__stats-item-price-proc">
                <svg
                  width="10"
                  height="6"
                  viewBox="0 0 10 6"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M0.293382 0.293015C0.683906 -0.097509 1.31707 -0.097509 1.7076 0.293015L5.00049 3.58591L8.29338 0.293015C8.68391 -0.097509 9.31707 -0.097509 9.70759 0.293015C10.0981 0.68354 10.0981 1.3167 9.70759 1.70723L5.7076 5.70723C5.31707 6.09775 4.68391 6.09775 4.29338 5.70723L0.293382 1.70723C-0.0971428 1.3167 -0.0971428 0.68354 0.293382 0.293015Z"
                    fill="#EB5757"
                  />
                </svg>
                10%
              </div>
            </div>
            <p class="features__stats-item-desc">
              Your <span>Expence</span> of this month compared to last month
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="features__desc">
      <h2 class="features__desc-title heading-h2">
        Passion to increase company revenue up to 85%
      </h2>
      <p class="features__desc-title-text text-p-medium">
        Automate your sales, marketing and service in one platform. Avoid date
        leaks and enable consistent messaging
      </p>
      <ul class="features__desc-list">
        <li class="features__desc-item">
          <p class="features__desc-item-text text-p-medium">
            Close more deals with single - page contact managment
          </p>
        </li>
        <li class="features__desc-item">
          <p class="features__desc-item-text text-p-medium">
            Enjoy one-click calling, call scripts and voicemail automation
          </p>
        </li>
        <li class="features__desc-item">
          <p class="features__desc-item-text text-p-medium">
            Take stages and milestones of your deals to keep the sales process
            an track
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
