@import './mixins/';
@import './base/';
@import './globals';

header {
  @include small-desktop {
    color: red;
  }

  @include tablet {
    color: blue;
  }

  @include small-tablet {
    color: greenyellow;
  }

  @include mobile {
    color: magenta;
  }

  @include small-mobile {
    color: pink;
  }
}
